<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Test Site" />
<meta name="author" content="coder.bd" />
<title layout:title-pattern="$CONTENT_TITLE  $DECORATOR_TITLE">
	:: SCDB</title>

<!--  Compiled and minified CSS from WebJar-->
<link rel="stylesheet"
	href="webjars/bootstrap/3.3.4/dist/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/dist/css/bootstrap.min.css}" />
	
<!-- Make sure to close the angle bracket  -->

</head>

<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CSE CARNIVAL</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#event">Event</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#login">Login</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div layout:fragment="content">
		<!--Page content goes here-->


	</div>

	<script src="webjars/jquery/2.1.3/dist/jquery.min.js"
		th:src="@{webjars/jquery/2.1.3/dist/jquery.min.js}"></script>
	<script src="webjars/bootstrap/3.3.4/dist/js/bootstrap.min.js"
		th:src="@{webjars/bootstrap/3.3.4/dist/js/bootstrap.min.js}"></script>

	<div layout:fragment="custom-scripts">
		<!--Custom page specific scripts goes here-->
	</div>

	<!-- FOOTER -->
	<footer class="container">
		<hr />
		<p>
			&copy; 2015 SCDB &middot; <a href="#">Privacy</a> &middot; <a
				href="#">Terms</a>
		</p>
	</footer>
</body>

</html>